*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-home{
    height: 102px;
    background-color: black;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 40px;
}

.header-home ul{
    display: flex;
    gap: 30px;
}

.header-home ul li a{
    font-size: 28px;
}

.container-logo{
    display: flex;
    justify-content: space-between;
}

.logo img{
   
    width: 120px;
}

.carrinho img{
    width: 60px;
}

a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.container-separador{
    height: 30px;
}

.banner img{
    width: 100%;
}